:root{
    
    --mainColor:rgb(84, 129, 201);
    --secondaryColor:rgb(174, 189, 205);

    --borderColor:rgb(24, 23, 23);

    --mainText:rgb(16, 16, 16);
    --secondaryText:black;

    --themeDotBorder: rgb(19, 19, 19);
    --previewBG: rgb(223, 218, 218) ; 
    --previewShadow:rgb(205, 205, 208); 

    --buttonnColor:black;
}
