:root{
    
    --mainColor:rgb(254, 253, 253);
    --secondaryColor:rgb(215, 215, 215);

    --borderColor:rgb(24, 23, 23);

    --mainText:rgb(16, 16, 16);
    --secondaryText:black;

    --themeDotBorder: rgb(19, 19, 19);
    --previewBG: rgb(223, 218, 218) ; 
    --previewShadow:rgb(205, 205, 208); 

    --buttonnColor:black;
}


html,body{
    padding: 0;
    margin: 0;
}

body *{
    transition: 0.3s;
}
p, h1, h2, h3, h4, h5, h6, h7, strong{
    color: var(--mainText);
    font-family: 'Comic Neue', cursive;
    font-weight: 500;
}




p, li, span, label, input, textarea{
    color: var(--mainText);

}

.s1{background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.s2{background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}


ul{
    list-style: none;
}


h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 26px;}
h5{font-size: 20px;}
h6{font-size: 16px;}



#profile-wrapper{
    text-align: center;
}

#comics{
    max-width: 25%;
    margin:0 auto;
    border: 2px solid var(--borderColor);
}

#profile-pic{
    max-width: 100%;
    display: block;
    height: 275px;
    width: 275px;
    object-fit: cover;/* border-radius: 50%; */
    margin:0 auto;
    border: 2px solid var(--borderColor);
    
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height:30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid var(--themeDotBorder);
    margin:5px;

    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);

    cursor: pointer;
}
.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color:#ffff ;

}

#blue-mode{
    background-color:rgb(113, 113, 240) ;
}
#green-mode{
    background-color:rgb(128, 209, 128) ;
}
#purple-mode{
    background-color:rgb(141, 85, 141) ;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

#skatevid{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position:relative;
    border: 2px solid var(--borderColor);
   
    
}

#container{
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius:.5%;
}

#brows{
    max-width: 20px;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}
    
.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;    
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--mainColor);
    border:1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    background-color: var(--secondaryColor);
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#navigation{
    margin:0;
    padding:10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}


.dots-wrapper{
    display: flex;
    padding: 10px;
}

.browser-dot{
    background-color: rgb(114, 110, 110);
    height: 15px;
    width: 15px;
    margin: 5px;
    align-items: center;
    /* border-radius: 50%; */

    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);

}

.left-column{
    grid-area: left-column;
    padding-top:50px ;
    padding-bottom: 50px;
    
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 320px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 320px;
    height: 300px;
    border:1.5px solid rgb(74, 72, 71);
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border:1.5 solid rgb(58, 57, 56);
    background-color: rgb(46, 45, 45);
    position: absolute;
}

#corner-tl{
    top:-5px;
    left:-5px;
}
#corner-tr{
    top:-5px;
    right:-5px;
}
#corner-br{
    bottom:-5px;
    right:-5px;
}
#corner-bl{
    bottom:-5px;
    left:-5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap:100px;

}

#skills{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    background-color:floralwhite;
    border: 1px solid var(--borderColor);
}

.social-links{
    display: grid;
    align-content: center;
    
    text-align: center;
}
#social_img{
    
    justify-content: space-evenly;
    grid-template-columns:auto;
    align-items: center;
    width:45%;
   
}
.scolumn {
    
    float: left;
    width: 30%;
    padding: 5px;
  }

.social-row{
    display: flex;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px) ;
    gap:20px;
    justify-content: center;
    padding-bottom: 5px;
}
.post{
    border:1px solid var(--borderColor);
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
}

.thumbnail{
    display: block;
    width:100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: #fff;
    padding: 25px;
}

.post-title{
    color:black;
    margin: 0;
}

.post-intro{
    color:black;
    font-size: 16px;
}



#contact-form{
    display: block;
    max-width: 600px;
    margin:0 auto;
    border: 1px solid var(--borderColor);
    padding:15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label{
    line-height: 2.7em;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border:1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonnColor);
    border: none;
}



@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{

        grid-template-columns: 1fr;
        grid-template-areas: 
            
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    .right-column{
        justify-content: center;
    }
}