{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/comics.css' %}" rel="stylesheet" type="text/css">
    <link href="" id="theme-style"  rel="stylesheet" type="text/css"  > 
    <title>ComicShop</title>
</head>
<body>
    <h1>COMIC SHOP BROWSABLE API</h1>
    <a href="http://comic-api.com/api/comics">Full Comic Book List</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://comic-api.com/api/superheros">Full Superhero List</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://comic-api.com/api/toys">Full Toy List</a>

    <ul>
        <li><a href="http://comic-api.com/api/comics/1"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/lethal_protector/1.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/2"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/lethal_protector/2.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/3"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/lethal_protector/3.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/4"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/lethal_protector/4.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/5"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/lethal_protector/5.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/7"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/house_of_x/1.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/8"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/house_of_x/2.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/9"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/house_of_x/3.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/10"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/house_of_x/4.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/11"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/house_of_x/5.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/12"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/house_of_x/6.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/13"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/1.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/14"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/2.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/15"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/3.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/16"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/4.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/17"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/5.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/18"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/6.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/19"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/7.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/20"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/8.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/21"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/9.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/22"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/the_amazing_spiderman/10.jpg" alt=""></li></a>

        <li><a href="http://comic-api.com/api/comics/56"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/god_of_thunder/1.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/57"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/god_of_thunder/2.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/58"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/god_of_thunder/3.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/59"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/god_of_thunder/4.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/60"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/god_of_thunder/5.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/61"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/god_of_thunder/6.jpg" alt=""></li></a>

        <li><a href="http://comic-api.com/api/comics/62"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/iron_man/1.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/63"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/iron_man/2.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/64"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/iron_man/3.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/65"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/iron_man/4.jpg" alt=""></li></a>

        <li><a href="http://comic-api.com/api/comics/66"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/1.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/67"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/2.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/68"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/3.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/69"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/4.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/70"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/5.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/71"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/6.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/72"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/7.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/73"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/8.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/74"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/9.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/75"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/10.jpg" alt=""></li></a>
        <li><a href="http://comic-api.com/api/comics/76"><img src="https://comicshop.s3.us-west-1.amazonaws.com/comic_images/she_hulk/11.jpg" alt=""></li></a>
        
   
      </ul>
</body>